#tak {
    background-color: red;
    border: 2px solid black;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    animation: tak 1s infinite linear;
    animation-direction: alternate;
    margin-top: 100px
}

@keyframes tak {
    0%{
        width: 200px;
        rotate: 0;
        scale: 1;
        background-color: yellow;
        color: red;
    }
    100% {
        width: 500px;

        scale: 2;
        background-color: red;
        color: yellow;
        transform: skew(180deg);
        margin-left: 300px
    }
}