body {
	margin:0;
	padding:0;
	font-family:  Arial, sans-serif;
}


#pojemnik {
	width: 980px;
	margin:0 auto;
	background-color:#ccccff;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

nav li {
	display: inline;	
}

nav a {
	display: inline-block;
	padding: 9px 20px 5px 20px;
	border-radius:20px;
	text-decoration: none;	
	font-family: Arial, sans-serif;
	font-weight: 700;
	color: white;
	text-transform:uppercase;
	font-size: .9em;
	letter-spacing: .1em;
	background-color: rgb(232,113,35);
	border: 1px solid rgb(232,113,35);
	margin-right: 5px;
}
header {
	background-color:#9999ff;
	position: relative;
	padding: 0 0 0 10px;
	margin-top: 0px;
	height:150px;
	
}

header h1 {
	font-size: 2.2em;
	color: rgb(42,67,101);
	position:absolute;
	right:10%;
	
}

header img {
	position: absolute;
	top: 0;
	left: 0;	
	z-index: 1;
	
}
header nav {
  position: absolute;
  left:5%;
  bottom:10px;		
}