*{
    margin: 0;
    padding: 0;
    font-size: 1.03em;
    font-family: fantasy;
    color: aliceblue;
}
body{
    width: 90%;
    margin: 0 auto;
    background-color: #090909;
}
main{
    background-color: black;
    height: 100vh;
    padding-top: 20px;
}
p{
    margin: 0 auto;
    width: 230px;
}
a{
    display: block;
    border: 2px solid #7ffd5c;
    height: 45px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    padding-top: 17px;
    background-color: black;
}
a:hover{
    border: 2px solid #c5fdd5;
}
h1{
    font-size: 2em;
    color: white;
}
@media only screen and (max-width: 800px){
    body{
        width: 100%;
    }
    main{
        height: max-content;
    }
}
