*{
    margin: 0;
    padding: 0;
    font-size: 1.03em;
    font-family: fantasy;
    color: aliceblue;
}
body{
    width: 90%;
    margin: 0 auto;
    background-color: #090909;
}
main{
    background-color: black;
    height: 100vh;
    padding-top: 20px;
}
p{
    text-align: center;
}
h1{
    font-size: 2em;
    text-align: center;
}
pre{
    border-radius: 15px;
    background-color: #101010;
    border: 2px solid #ACACAC;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    margin: 20px auto;
}
a{
    font-size: 4em;
    text-decoration: none;
}
a:hover{
    color: #7ffd5c;
}

@media only screen and (max-width: 800px){
    body{
        width: 100%;
    }
    main{
        height: max-content;
    }
}
